<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier Condition="'$(RuntimeIdentifier)' == ''">win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishAot>true</PublishAot>
    <DefineConstants>$(DefineConstants);NATIVE_AOT</DefineConstants>
    <JsonSerializerIsReflectionEnabledByDefault>false</JsonSerializerIsReflectionEnabledByDefault>
    <IlcGenerateStackTraceData>true</IlcGenerateStackTraceData>
  </PropertyGroup>
</Project>
